@import "compass/css3/box";

html {
    height: 100%;
}
 
body {
    @include display-box;
    @include box-orient(vertical);
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    // FireFox Fix
    width: 100%;
}

.main {
    @include box-flex(1);
    position: relative;
    padding-bottom: $line-height-computed * 2;
    z-index: 2; // higher than background
}

// The following is NASTY!
.site-header .container {

    @media (max-width: $screen-md-min) {
        width: 100%;

        @media (min-width: $grid-float-breakpoint)
        {
            padding: 0;

            .navbar-right {
                margin-right: 0;
            }
        }
    }
}