// Social Buttons
// -------------------------
$btn-inverse-color: #fff;
$btn-inverse-bg: #181A26;
$btn-inverse-border: darken($btn-inverse-bg, 5%);

$btn-facebook-color: $facebook;
$btn-facebook-bg: #fff;
$btn-facebook-border: darken($facebook, 5%);

$btn-twitter-color: $twitter;
$btn-twitter-bg: #fff;
$btn-twitter-border: darken($twitter, 5%);

$btn-kry-border-width: 5px;

@mixin btn-custom($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover, &:active {
        color: $color;
    }
}

.btn-inverse {
    @include btn-custom($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

.btn-facebook {
    @include btn-custom($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}

.btn-twitter {
    @include btn-custom($btn-twitter-color, $btn-twitter-bg, $btn-twitter-border);
}

.btn-kry {
    border-width: 0 0 $btn-kry-border-width;

    &:active {
        border-bottom-width: 0;
        margin-top: $btn-kry-border-width;
    }
}