@import "vars";
@import "bootstrap";
@import "base";

a {
    // text-transform: uppercase;
}

.link {
    border-bottom: 1px solid $link-color;

    &:hover {
        border-bottom: none;
        text-decoration: none;
    }
}

.site-footer {
    background: #2F3452;
    padding: $padding-large-vertical 0;
    position: relative;
    z-index: 2;
}

@import "container";
@import "confetti";
@import "btns";
@import "circle";
@import "meny";