@import "vars";
@import "bootstrap";

body {
    -webkit-font-smoothing: antialiased;
}

.confetti-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; // lowest
}

.main {
    position: relative;
    padding-bottom: $line-height-computed * 2;
    z-index: 2; // higher than background
}

a {
    // text-transform: uppercase;
}

.link {
    border-bottom: 1px solid $link-color;

    &:hover {
        border-bottom: none;
        text-decoration: none;
    }
}

// Helper Classes
// -------------------------

.container-sm {
    max-width: 750px;
}

.container-home {
    padding-top: $line-height-computed * 2;
}

.header-container {
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

// Components
// -------------------------

@import "btns";
// @import "circle";
@import "meny";