@import "variables";

// Brand colors
// -------------------------

$facebook: #3B5998;
$twitter: #4099FF;

// Components
// -------------------------

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;


// Buttons
// -------------------------

$btn-facebook-color: #fff;
$btn-facebook-bg: $facebook;
$btn-facebook-border: darken($btn-facebook-bg, 5%);

$btn-twitter-color: #fff;
$btn-twitter-bg: $twitter;
$btn-twitter-border: darken($btn-twitter-bg, 5%);


// Navbar
// -------------------------

// Basics of a navbar
$navbar-margin-bottom: $line-height-computed * 2;

// Inverted navbar links
$navbar-inverse-link-active-bg: lighten($navbar-inverse-bg, 10%);


// Jumbotron
// -------------------------

$jumbotron-padding: 20px;
$jumbotron-bg: $body-bg;
$jumbotron-font-size: ceil($font-size-base * 1.5);


// Popovers
// -------------------------

// $popover-arrow-width: 50px;
// $popover-arrow-outer-width: ($popover-arrow-width + 1) !default;