<!doctype html>
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="es"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= typeof title !== 'undefined' ? title : 'Bicentenario' %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="favicon.png">
	<link rel="stylesheet" href="styles/font-awesome.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body class="Site">
	<!--[if lt IE 10]>
		<p class="browsehappy">Usted esta usando un navegador <strong>viejo</strong>. Por favor <a href="http://browsehappy.com/">actualize su navegador</a> para mejorar su experiencia.</p>
	<![endif]-->

	<% include header %>

	<main class="HolyGrail Site-content confetti-container" role="main">

		<div id="js-confetti-background" class="confetti-background"></div>

		<%- body -%>
	</main>

	<% include footer %>

	<div id="fb-root"></div>

	<script src="scripts/confetti.js"></script>
	<script src="scripts/utils.js"></script>
	<script src="scripts/main.js"></script>
	<script src="scripts/removeFacebookAppendedHash.js"></script>
	<script src="scripts/sharing.js"></script>
</body>
</html>
