<footer class="site-footer clearfix u-paddingAm">
    <a class="pull-left u-marginRm" href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
    <a class="pull-left" href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
</footer>