<div class="fb-like" data-href="http://bicentenario.herokuapp.com/" data-width="128" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

<footer class="site-footer clearfix u-paddingAm">
    <a class="pull-left u-marginRm" href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
    <a class="pull-left" href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
</footer>