<footer class="site-footer secondary-body u-paddingAm">
	<div class="Aligner">
		<div class="Aligner-item--bottom">
			<a href="https://twitter.com/share/" class="twitter-share-button" data-url="http://bicentenario.herokuapp.com/" data-counturl="http://bicentenario.herokuapp.com/" data-text="Conocé tu legado del Bicentenario" data-via="hiroagustin" data-lang="es" data-hashtags="bicentenario">Twittear</a>
			<div class="fb-share-button" data-href="http://bicentenario.herokuapp.com/" data-type="button_count"></div>
		</div>
		<div class="text-center flex-2">
			<a href="http://datauy.org/"><img src="images/logo_data.png" alt="DATA"></a>
		</div>
		<div class="Aligner-item--bottom">
			<a href="/info">¿Cómo van a manejar mi información?</a>
		</div>
	</div>
</footer>
