<footer class="site-footer">
    <div class="fixed-container">
        <a class="circle pull-left" href="#"><i class="fa fa-facebook fa-1x fa-fw"></i></a>
        <a class="circle pull-left" href="#"><i class="fa fa-twitter fa-1x fa-fw"></i></a>
        <a class="circle pull-right" href="#"><i class="fa fa-expand fa-1x fa-fw"></i></a>
        <a class="circle pull-right" href="#"><i class="fa fa-volume-down fa-1x fa-fw"></i></a>
    </div>
</footer>