<footer class="site-footer clearfix u-paddingAm">
    <a href="https://twitter.com/share/" class="twitter-share-button" data-url="http://bicentenario.herokuapp.com/" data-counturl="http://bicentenario.herokuapp.com/" data-text="Conocé tu legado del Bicentenario" data-via="hiroagustin" data-lang="es" data-hashtags="bicentenario">Twittear</a>
    <div class="fb-share-button" data-href="http://bicentenario.herokuapp.com/" data-type="button_count"></div>
</footer>