<footer class="site-footer secondary-body u-paddingAm">
	<div id="js-manejo" class="collapsable collapsed">
		<p>Los datos que ingreses en el formulario no son almacenados por esta aplicación de ninguna forma, cumpliendo holgadamente con lo exigido por la Ley Nº 18.331 de Protección de Datos Personales. Si utilizás Facebook para ingresar, sólo vamos a obtener información para simplificarte el llenado del formulario, sin asignarnos derecho a acceder a tus datos, ni publicar en tu nombre.</p>		
	</div>
	<a class="pull-right" href="#js-manejo" data-toggle="collapsed">¿Cómo van a manejar mi información?</a>
	<a href="https://twitter.com/share/" class="twitter-share-button" data-url="http://bicentenario.herokuapp.com/" data-counturl="http://bicentenario.herokuapp.com/" data-text="Conocé tu legado del Bicentenario" data-via="hiroagustin" data-lang="es" data-hashtags="bicentenario">Twittear</a>
	<div class="fb-share-button" data-href="http://bicentenario.herokuapp.com/" data-type="button_count"></div>
</footer>