<footer class="site-footer clearfix u-paddingAm">
    <a class="pull-left" href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
    <a class="pull-left" href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
    <a class="pull-right" href="#"><i class="fa fa-expand fa-2x fa-fw"></i></a>
    <a class="pull-right" href="#"><i class="fa fa-volume-down fa-2x fa-fw"></i></a>
</footer>