<footer class="site-footer secondary-body u-paddingAm Aligner">
		<div class="Aligner">
			<a href="https://twitter.com/share/" class="twitter-share-button" data-url="http://bicentenario.herokuapp.com/" data-counturl="http://bicentenario.herokuapp.com/" data-text="Conocé tu legado del Bicentenario" data-via="hiroagustin" data-lang="es" data-hashtags="bicentenario">Twittear</a>
			<div class="fb-share-button" data-href="http://bicentenario.herokuapp.com/" data-type="button_count"></div>
		</div>
		<a href="http://datauy.org/"><img src="images/Data.png" alt="Data"></a>
		<div>
			<a href="http://www.parlamento.gub.uy/" target="_blank">
				<img src="images/Parlamento.png" alt="Parlamento" height="28px">
			</a>
			<a href="http://www.impo.com.uy/" class="u-marginHm" target="_blank">
				<img src="images/Impo.png" alt="Impo">
				</a>
			<a href="http://www.mec.gub.uy/" target="_blank">
				<img src="images/Mec.png" alt="MEC">
			</a>
		</div>
</footer>
