<footer class="site-footer secondary-body u-paddingAm Aligner">
		<a href="https://twitter.com/share/" class="twitter-share-button" data-url="http://bicentenario.herokuapp.com/" data-counturl="http://bicentenario.herokuapp.com/" data-text="Conocé tu legado del Bicentenario" data-via="hiroagustin" data-lang="es" data-hashtags="bicentenario">Twittear</a>
		<div class="fb-share-button" data-href="http://bicentenario.herokuapp.com/" data-type="button_count"></div>
		<a href="http://datauy.org/"><img src="images/Data.png" alt="Data"></a>
		<a href="http://datauy.org/"><img src="images/Impo.png" alt="Impo"></a>
		<a href="http://datauy.org/"><img src="images/MEC.png" alt="MEC"></a>
		<a href="http://datauy.org/"><img src="images/Parlamento.png" alt="Parlamento"></a>
</footer>
