<footer class="site-footer secondary-body u-paddingAl">
	<div class="row Aligner">
		<div class="col-sm-4 Aligner Aligner-item--bottom Aligner-item--left">
			<div class="fb-share-button u-marginRl" data-href="http://bicentenario.herokuapp.com/" data-type="button_count"></div>
			<a href="https://twitter.com/share/" class="twitter-share-button" data-url="http://bicentenario.herokuapp.com/" data-counturl="http://bicentenario.herokuapp.com/" data-text="Conocé tu legado del @Bicentenario_uy. Avances que impactan cómo nos vemos y pensamos como sociedad." data-via="DATAuy" data-lang="es" data-hashtags="">Twittear</a>
		</div>
		<div class="col-sm-4 text-center Aligner-item--bottom">
			<a class="" href="http://datauy.org/">
				<img src="images/Data.png" alt="Data">
			</a>
		</div>
		<div class="col-sm-4 text-right Aligner-item--bottom">
			<a class="" href="http://www.parlamento.gub.uy/" target="_blank">
				<img src="images/Bicentenario-Small.png" alt="Parlamento">
			</a>
			<a class="u-marginHm" href="http://www.parlamento.gub.uy/" target="_blank">
				<img src="images/Parlamento.png" alt="Parlamento">
			</a>
			<a class="" href="http://www.parlamento.gub.uy/" target="_blank">
				<img src="images/Impo.png" alt="Parlamento">
			</a>
		</div>
	</div>
</footer>
