<% var uri = typeof path !== 'undefined' ? path : '' %>
<header class="site-header">
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="<%= uri === '/' ? 'active' : '' %>">
						<a href="/">Inicio</a>
					</li>
					<li class="<%= uri === '/que-es-este-proyecto' ? 'active' : '' %>">
						<a href="/que-es-este-proyecto">¿Qué es este proyecto?</a>
					</li>
					<li class="<%= uri === '/conoce-las-leyes' ? 'active' : '' %>">
						<a href="/conoce-las-leyes">Conocé las leyes</a>
					</li>
					<!-- <li class="<%= uri === '/linea-de-tiempo' ? 'active' : '' %>">
						<a href="/linea-de-tiempo">Linea de tiempo</a>
					</li> -->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="external"><a href="http://www.sumar.uy/" target="_blank">Sumá derechos en Sumar.uy</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
