<div class="header">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="#">Qué es este proyecto?</a></li>
            <li><a href="#">Conocé todas las leyes del Bicentenario</a></li>
            <li><a href="#">Explorá la linea de tiempo del Bicentenario</a></li>
            <li><a href="#">Datos Abiertos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Seguí sumando derechos: Participá en Sumar.uy</a></li>
        </ul>
    </nav>
</div>