<header id="js-meny-header" class="header meny-header">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <nav class='header-container'>
            <ul class="nav navbar-nav">
                <li><a href="#">¿Qué es este proyecto?</a></li>
                <li><a href="#">Conocé las leyes</a></li>
                <li><a href="#">Linea de tiempo</a></li>
                <li><a href="#">Datos Abiertos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="http://www.sumar.uy/">Sumá derechos en Sumar.uy</a></li>
            </ul>
        </nav>
    </div>
</header>