@import "compass/css3/transition";
@import "compass/css3/transform";

.slider {
  @include single-transition(transform, .5s, cubic-bezier(0.645, 0.045, 0.355, 1.000));
}

.slide-left {
  @include translateX(-100%);
}


.display-content {
  @include transition-property(opacity, transform);
  @include transition-duration(.25s);
  @include transition-timing-function(linear);

  opacity: 0;
}

.display-content-top {
  @include translateY(10px);
}

.display-content-bottom {
  @include translateY(-10px);
}

.display-container {

  &:hover {
    text-decoration: none;

    .display-content {
      opacity: 1;
      @include translateY(0);
    }
  }
}
