// Twitter button sux
#twitter-widget-0 {
    display: inline-block;
    vertical-align: bottom;
    width: 100px !important
}

// Absolutly positioned conffetti background covers it
.HolyGrail-body {
    z-index: 2;
}