@import "compass/css3/flexbox";

.flex-2 {
	@include flex(2);
}

// Twitter button sux
#twitter-widget-0 {
	display: inline-block;
	vertical-align: bottom;
	width: 100px !important
}

#leyes-por-category {
	border-right: 1px solid $body-bg;
}