body {
    // http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // http://johanbrook.com/browsers/native-momentum-scrolling-ios-5/
    -webkit-overflow-scrolling: touch;
}

a {
    // http://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}