<% layout('../../../layouts/default') %>

<section class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img-responsive block-center" src="images/bicentenario.jpg" alt="Bicentenario">
            <hr class="bd-strong dashed">

            <p>Este es el legado del Bicentenario para</p>
            <h1>Julieta</h1>
            <hr class="bd-strong dashed">

            <p>Compartí tu legado:</p>

            <button class="btn btn-lg btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-lg btn-social btn-twitter">
                <i class="fa fa-twitter"></i>
            </button>
            <hr class="bd-strong dashed">

            <p>Invitá a un amigo:</p>

            <button class="btn btn-lg btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-lg btn-social btn-twitter">
                <i class="fa fa-twitter"></i>
            </button>
        </div>
        <div class="col-md-6">
            <div class="circle circle-xl dashed block-center">
                <i class="fa fa-male" style="font-size: 250px"></i>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <p>Tenes más derechos gracias a:</p>
            <h1>5 leyes</h1>

            <a href="#" class="btn btn-block btn-primary">Conocé el resto de las leyes</a>
            <hr class="bd-strong dashed">

            <p>Tus nuevos derechos abarcan:</p>
            <ul class="text-left">
                <li>Salud social y reproductiva</li>
                <li>Maternidad</li>
                <li>Estado civil</li>
                <li>Empleo</li>
                <li>Educación</li>
            </ul>
            <hr class="bd-strong dashed">

            <p>Así como vos, hay otros</p>
            <h1>50.000</h1>
            <p>ciudadanos que adquirieron estos mismos derechos</p>
            <hr class="bd-strong dashed">

            <p>Cuándo adquiriste estos derechos?</p>
        </div>
    </div>
</section>