<% layout('../../../layouts/default') %>

<section class="container">

    <div class="text-center" style="padding-top: 1em;">
        <p class="lead">Este es el legado del Bicentenario para:</p>
        <h1 class="nombre">María Jose</h1>
    </div>

    <img class="minita" src="images/minita.png" alt="minita" width="222px">

</section>

<aside class="data">
    <div class="section text-center">
        <img src="images/bicentenario.png" alt="Bicentenario" width="190px">
    </div>

    <div class="section">
        <p class="heading">Tenes más derechos gracias a:</p>
        <p class="lead text-center">6 leyes</p>
        <a href="#" class="btn btn-kry btn-inverse"><i class="fa fa-bookmark"></i> Conocé el resto de las leyes</a>
    </div>

    <div class="section">
        <p class="heading Mb-10">Tus nuevos derechos abarcan:</p>

        <ul class="list-unstyled">
            <li><i class="fa fa-circle-o" style="color: #C31425;"></i> Salud sexual y reproductiva</li>
            <li><i class="fa fa-circle-o" style="color: #13C394;"></i> Empleo</li>
            <li><i class="fa fa-circle-o" style="color: #D461C0;"></i> Maternidad</li>
        </ul>
    </div>

    <div class="section">
        <p class="heading text-center">Asi como vos, hay otros</p>
        <p class="lead text-center">50.000</p>
        <p class="heading text-center">Ciudadanos que adquirieron <br> estos mismos derechos</p>
    </div>

    <div class="section">
        <p class="heading text-center Mb-20">Cuando adquiriste <br> estos derechos?</p>

        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%; background-color: #2D3F93;">
                <span>2010</span>
            </div>
            <span class="pull-left">1</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%; background-color: #C31425;">
                <span>2011</span>
            </div>
            <span class="pull-left">2</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 90%; background-color: #2D3F93;">
                <span>2012</span>
            </div>
            <span class="pull-left">3</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 30%; background-color: #C31425;">
                <span>2013</span>
            </div>
            <span class="pull-left">1</span>
        </div>
    </div>

</aside>