
<a class="u-paddingTl text-center center-block icon-link display-container" href="/ingresar">
  <svg class="center-block u-marginBm" version="1.1" x="0px" y="0px" width="68.903px" height="87.572px" viewBox="0 0 68.903 87.572">
    <g fill="#FFFFFF">
      <path d="M64.25,31.508c0-12.98-13.383-23.9-29.892-23.9c-16.508,0-29.892,11.119-29.892,24.1 c0,0.146-0.138,31.578-0.138,31.578h0.017c0.344,4.713,13.661,9.473,30.049,9.473c16.389,0,29.705-4.76,30.049-9.473h0.016 C64.458,63.285,64.25,31.657,64.25,31.508z"/>
  		<path d="M34.127,55.984c-11.367,0-21.755-2.441-29.738-6.281c-0.031,7.115-0.061,13.582-0.061,13.582h0.017 c0.344,4.713,13.661,9.473,30.049,9.473c16.389,0,29.705-4.76,30.049-9.473h0.016c0,0-0.045-6.611-0.094-13.822 C56.319,53.445,45.733,55.984,34.127,55.984z"/>
  		<path d="M63.182,47.891c2.357-0.25,4.27-2.279,4.27-4.744c0-2.465-1.912-4.493-4.27-4.744V47.891z"/>
  		<circle cx="23.73" cy="43.705" r="1.699"/>
  		<path d="M33.383,64.82c4.012,0,7.259-3.252,7.259-7.258H26.126C26.126,61.568,29.374,64.82,33.383,64.82z"/>
  		<path d="M19.434,37.719l-0.492-0.262c0.029-0.055,0.736-1.369,2.124-1.795c0.838-0.257,1.733-0.135,2.664,0.365 l-0.265,0.491c-0.793-0.425-1.545-0.536-2.236-0.325C20.059,36.553,19.44,37.707,19.434,37.719z"/>
  		<path d="M33.625,31.497c0,0-3.082,18.009-2.868,19.349c0.194,1.234,1.345,2.211,2.565,2.059 c1.209,0.223,2.414-0.688,2.68-1.91C36.291,49.67,33.625,31.497,33.625,31.497z"/>
  		<circle cx="42.343" cy="43.706" r="1.697"/>
  		<path d="M45.947,39.48c-0.432-0.788-1-1.291-1.691-1.494c-1.171-0.342-2.329,0.287-2.34,0.291l-0.271-0.487 c0.056-0.03,1.364-0.744,2.761-0.34c0.842,0.243,1.523,0.837,2.029,1.765L45.947,39.48z"/>
  		<rect x="24.11" y="67.213" width="21.215" height="13.357"/>
  		<path d="M45.347,80.174c0,2.982-4.762,5.398-10.634,5.398s-10.634-2.416-10.634-5.398 c0-2.979,4.762-5.395,10.634-5.395S45.347,77.195,45.347,80.174z"/>
  		<path d="M34.127,55.984c-11.367,0-21.755-2.441-29.738-6.281c-0.031,7.115-0.061,13.582-0.061,13.582h0.017 c0.344,4.713,13.661,9.473,30.049,9.473c16.389,0,29.705-4.76,30.049-9.473h0.016c0,0-0.045-6.611-0.094-13.822 C56.319,53.445,45.733,55.984,34.127,55.984z"/>
  		<path d="M63.182,47.891c2.357-0.25,4.27-2.279,4.27-4.744c0-2.465-1.912-4.493-4.27-4.744V47.891z"/>
  		<path d="M5.27,47.719C2.913,47.469,1,45.439,1,42.975c0-2.465,1.912-4.493,4.27-4.744V47.719z"/>
  		<circle cx="24.428" cy="43.705" r="1.699"/>
  		<path d="M34.522,64.82c4.011,0,7.261-3.252,7.261-7.258H27.266C27.266,61.568,30.512,64.82,34.522,64.82z"/>
  		<path d="M20.133,37.719l-0.494-0.262c0.03-0.055,0.736-1.369,2.125-1.795c0.838-0.257,1.732-0.135,2.664,0.365 l-0.266,0.491c-0.793-0.425-1.545-0.536-2.236-0.325C20.757,36.553,20.138,37.707,20.133,37.719z"/>
  		<path d="M34.633,31.497c0,0-3.082,18.009-2.869,19.349c0.196,1.234,1.346,2.211,2.566,2.059 c1.209,0.223,2.414-0.688,2.68-1.91C37.297,49.67,34.633,31.497,34.633,31.497z"/>
  		<circle cx="43.482" cy="43.706" r="1.697"/>
  		<path d="M47.085,39.48c-0.431-0.788-0.998-1.291-1.691-1.494c-1.171-0.342-2.328,0.287-2.34,0.291l-0.27-0.487 c0.056-0.03,1.365-0.744,2.76-0.34c0.842,0.243,1.525,0.837,2.03,1.765L47.085,39.48z"/>
      <path d="M52.583,28.688c-7.409,0-13.437-6.028-13.437-13.438S45.174,1.812,52.583,1.812S66.02,7.84,66.02,15.25 S59.993,28.688,52.583,28.688z"/>
  	</g>
  	<g fill="#040507">
  		<path d="M52.583,2.875c6.834,0,12.374,5.541,12.374,12.375s-5.54,12.375-12.374,12.375S40.209,22.084,40.209,15.25 S45.75,2.875,52.583,2.875 M52.583,0.75c-7.995,0-14.5,6.505-14.5,14.5s6.505,14.5,14.5,14.5s14.5-6.505,14.5-14.5 S60.579,0.75,52.583,0.75L52.583,0.75z"/>
  		<path d="M54.667,21.729c0,0.702-0.569,1.271-1.271,1.271h-0.457c-0.702,0-1.271-0.569-1.271-1.271V8.271 C51.667,7.569,52.236,7,52.938,7h0.457c0.702,0,1.271,0.569,1.271,1.271V21.729z"/>
  		<path d="M53.395,24h-0.457c-1.253,0-2.271-1.019-2.271-2.271V8.271C50.667,7.019,51.685,6,52.938,6h0.457 c1.253,0,2.271,1.019,2.271,2.271v13.457C55.667,22.981,54.648,24,53.395,24z M52.938,8c-0.149,0-0.271,0.122-0.271,0.271v13.457 c0,0.15,0.122,0.271,0.271,0.271h0.457c0.149,0,0.271-0.122,0.271-0.271V8.271c0-0.15-0.122-0.271-0.271-0.271H52.938z"/>
  		<path d="M60.667,15.729c0,0.702-0.569,1.271-1.271,1.271H45.938c-0.702,0-1.271-0.569-1.271-1.271v-0.457 c0-0.702,0.569-1.271,1.271-1.271h13.457c0.702,0,1.271,0.569,1.271,1.271V15.729z"/>
  		<path d="M59.395,18H45.938c-1.253,0-2.271-1.019-2.271-2.271v-0.457c0-1.252,1.019-2.271,2.271-2.271h13.457 c1.253,0,2.271,1.019,2.271,2.271v0.457C61.667,16.981,60.648,18,59.395,18z M45.938,15c-0.149,0-0.271,0.122-0.271,0.271v0.457 c0,0.15,0.122,0.271,0.271,0.271h13.457c0.149,0,0.271-0.122,0.271-0.271v-0.457c0-0.15-0.122-0.271-0.271-0.271H45.938z"/>
  	</g>
  </svg>

  <span class="display-content display-content-down">Conocé tú legado</span>
</a>
