<div class="progress u-marginBm">
  <div class="progress-bar" style="width: <%= fechaProgress.percentage %>%;">
    <span><%= fechaProgress.year %></span>
  </div>
  <span class="pull-left"><%= fechaProgress.quantity %></span>
</div>
