<% layout('../../../layouts/default') %>

<section class="container u-paddingVl">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <img class="img-responsive center-block" src="images/bicentenario.png" alt="Bicentenario">
            <hr>

            <h1 class="text-center">Conocé tu legado del Bicentenario</h1>
            <hr>

            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nisi, dolore, tempora natus minus atque a odit totam accusantium alias rem aliquid omnis molestiae fugit odio quas possimus est aut!</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, exercitationem ratione eligendi et architecto nulla odio cumque est voluptate dignissimos a esse consectetur numquam impedit illo rem cum porro quibusdam.</p>
            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <a href="/mis-leyes" class="btn btn-lg btn-block btn-facebook" role="button"><i class="fa fa-facebook fa-lg fa-fw"></i> Ingresar con Facebook</a>
                    <hr class="u-marginVs visible-xs invisible">
                </div>
                <div class="col-sm-6">
                    <a href="/mis-leyes" class="btn btn-lg btn-block btn-primary"><i class="fa fa-pencil fa-lg fa-fw"></i> Ingresar mi información</a>
                </div>
            </div>
            <hr class="u-marginVm">

            <div class="text-center">
                <a class="link" href="#">¿Cómo van a manejar mi información?</a>
            </div>
        </div>
    </div>
</section>