<% layout('../../../layouts/default') %>

<section class="container">
    <img class="img-responsive block-center" src="images/bicentenario.jpg" alt="Bicentenario" width='240'>
    <div class="jumbotron pt-0">
        <h1>Conocé tu legado del Bicentenario</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, nisi, dolore, tempora natus minus atque a odit totam accusantium alias rem aliquid omnis molestiae fugit odio quas possimus est aut!</p>
    </div>
    <!-- <div class="block-center" style="width: 400px;"> -->
    <div class="container container-sm">
        <a href="#" class="btn btn-lg btn-block btn-facebook" role="button">Ingresá con Facebook <small class="d-b">y obtendremos tu información automáticamente</small></a>
        <a href="#" class="btn btn-lg btn-block btn-default">Prefiero ingresar mi información a mano</a>
        <hr>
        <a href="#">Cómo van a manejar mi información?</a>
    </div>
</section>