<% layout('../../../layouts/default') %>
<section class="HolyGrail-body Aligner">
	<div class="container u-paddingVl">
		<img class="img-responsive center-block" src="images/Bicentenario.png" alt="Bicentenario">

		<h1 class="text-center u-marginTn u-marginBl">Conocé tu legado del Bicentenario</h1>

		<p><b>Con esa aplicación, queremos ayudarte a conocer los derechos que ganaste en este siglo. Llená tus datos básicos (o permití que se completen automáticamente con tu cuenta de Facebook), para visualizar y compartir las leyes que sumaron derechos para vos personalmente.</b></p>
		<p>Bicentenario Uruguay definió desde un principio tres ejes a trabajar: <b>Un pasado para recordar</b>, <b>Un presente para vivir</b> y <b>Un futuro para proyectar</b>. Recordamos los hitos históricos así como las más diversas manifestaciones de nuestra cultura, reflexionando sobre la búsqueda de doscientos años hasta llegar a ser quienes somos.</p>
		<p>Llegó el momento de <b>hacer hincapié en nuestra generación</b>, la del bicentenario, en tanto artífices del país que heredarán otros. En este sentido vale la pena resaltar avances legislativos concretados en este siglo, sobre todo los concebidos como ampliación de derechos, que impactan en la forma de vernos y pensarnos como sociedad.</p>
		<p>En definitiva son valores que surgen de nuestro pasado histórico, están presentes en la actualidad y nos inspiran para la construcción de un futuro más integrador, próspero y de avanzada. <b>Bienvenido a Legado Bicentenario, nuestra historia está llena de futuro</b>.</p>
		<hr>

		<div class="row">
			<div class="col-sm-6 col-lg-4 col-lg-offset-2">
				<a href="/auth/facebook" class="btn btn-lg btn-block btn-facebook" role="button"><i class="fa fa-facebook fa-lg fa-fw"></i> Ingresar con Facebook</a>
				<hr class="u-marginVs visible-xs invisible">
			</div>
			<div class="col-sm-6 col-lg-4">
				<a href="/ingresar" class="btn btn-lg btn-block btn-primary"><i class="fa fa-pencil fa-lg fa-fw"></i> Ingresar mi información</a>
			</div>
		</div>
	</div>
</section>
