<% layout('../../../layouts/default') %>
<section class="HolyGrail-body Aligner">
  <div class="container u-paddingVl">
    <h1>¿Cómo van a manejar mi información?</h1>
    <p>Los datos que ingreses en el formulario no son almacenados por esta aplicación de ninguna forma, cumpliendo holgadamente con lo exigido por la Ley Nº 18.331 de Protección de Datos Personales. Si utilizás Facebook para ingresar, sólo vamos a obtener información para simplificarte el llenado del formulario, sin asignarnos derecho a acceder a tus datos, ni publicar en tu nombre.</p>
  </div>
</section>
