<% layout('../../../layouts/default') %>
<section class="HolyGrail-body Aligner">
  <div class="container u-paddingVl">
    <img class="img-responsive center-block" src="images/Bicentenario.png" alt="Bicentenario">

    <section>
      <h1>¿Qué es este proyecto?</h1>
      <p>Al comienzo de las celebraciones por los doscientos años del proceso de Emancipación Oriental la <a href="http://bicentenario.uy/">Bicentenario Uruguay</a> definió tres ejes en los cuales trabajar: Un pasado para recordar, Un presente para vivir y Un futuro para proyectar. En estos años hemos recordado los principales hitos históricos del proceso independentista así como las más diversas manifestaciones de nuestra cultura. Es decir, nos propusimos reflexionar sobre la larga búsqueda de doscientos años hasta llegar a ser quienes somos.</p>
      <p>Promediando el período de esta celebración queremos hacer hincapié en nuestra generación, la generación del bicentenario, en tanto artífices del país que heredarán otros uruguayos. En este sentido vale la pena resaltar los avances legislativos concretados en este período, sobre todos aquellos concebidos como ampliación de derechos ya que impactan directamente en la forma de vernos y de pensarnos como sociedad.</p>
      <p>En definitiva son valores que surgen de nuestro pasado histórico, están presentes en la actualidad y nos inspiran para la construcción de un futuro más integrador, próspero y de avanzada. <b>Bienvenido a Legado Bicentenario, nuestra historia está llena de futuro.</b></p>
    </section>

    <section>
      <h2>¿Cómo van a manejar mi información?</h2>
      <p>Los datos que ingreses en el formulario no son almacenados por esta aplicación de ninguna forma, cumpliendo holgadamente con lo exigido por la Ley Nº 18.331 de Protección de Datos Personales. Si utilizás Facebook para ingresar, sólo vamos a obtener información para simplificarte el llenado del formulario, sin asignarnos derecho a acceder a tus datos, ni publicar en tu nombre.</p>
    </section>

    <section>
      <h2>Sobre el origen de los datos</h2>
      <p>Las leyes que forman parte de esta aplicación fueron seleccionadas por la <a href="http://bicentenario.uy/">Bicentenario Uruguay</a> junto al <a href="http://www.parlamento.gub.uy/">Parlamento</a> y corresponden a los años 2000 a 2014. Los textos y metadatos de las leyes fueron provistos por <a href="http://www.impo.com.uy/">IMPO</a> y se encuentran disponibles para su descarga como Datos Abiertos.</p>
      <p>Las cifras de ciudadanos discriminadas por edad (niños de 0 a 12, adolescentes de 13 a 18, jóvenes de 19 a 29, adultos de 30 a 59 y adultos mayores de 60 o más) fue extraída de los <a href="http://www.ine.gub.uy/censos2011/resultadosfinales/pais poblacion.html">datos actualizados a octubre de 2012 del Censo 2011 de INE</a>.</p>
    </section>

    <section>
      <h2>El equipo</h2>
      <p>Legado del Bicentenario es una iniciativa de la <a href="http://bicentenario.uy/">Bicentenario Uruguay</a> desarrollada junto a <a href="http://datauy.org/">DATA Uruguay</a>, que contó con la colaboración del <a href="http://www.parlamento.gub.uy/">Parlamento del Uruguay</a> e <a href="http://www.impo.com.uy/">IMPO</a>. El diseño y desarrollo de la aplicación es de <a href="https://twitter.com/agustinkry/">Agustín Kryger</a> y <a href="twitter.com/HiroAgustin/">Agustín Díaz</a> y las ilustraciones de <a href="http://flaviacalandria.com/">Flavia Calandria</a>.</p>
    </section>
  </div>
</section>
