<% layout('../../../layouts/default') %>

<style>
  header, footer, .confetti-background {
    display: none !important;
  }
</style>

<section class="HolyGrail-body Aligner">
  <%- partial('../../../characters/cabeza/02_m.svg') %>
</section>
