<% layout('../../../layouts/default') %>

<section class="container" style="position: relative;">
	<div class="popover top d-b">
		<div class="arrow"></div>
		<h3 class="popover-title">Abril 2012</h3>
		<div class="popover-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, assumenda odit maiores ducimus eligendi. Unde, consequatur, rem, ullam labore officia a praesentium tempora non aperiam minus voluptas veritatis id repellendus!</p>
		</div>
	</div>
</section>