@import "compass/css3/transition";
@import "compass/css3/transform";

// Category Circle Sizes
$small: 30px;
$medium: $small + 15;
$large: $medium + 15;

$categories: (
   "1" "#835F6F" // Adultos Mayores
,	 "5" "#FF5991" // Medio Ambiente
,	 "7" "#4AD6B6" // Salud
,	"10" "#BE5452" // Trabajo
,	"11" "#322F30" // Desarrollo Social
,	"12" "#7583A1" // Discapacidad
,	"13" "#F7783F" // Educación y Cultura
,	"14" "#BF6B84" // Igualdad
,	"16" "#02BFF1" // Niñez y Adolescencia
,	"18" "#E52F5A" // Salud Sexual y Reproductiva
,	"19" "#F3C135" // Seguridad
);

.category-page-main {
  @include single-transition(background, .5s, ease-out);
  @include translate3d(0, 0, 0);
  will-change: background;
}

.category-circle {
  border-radius: 50%;
  cursor: pointer;
}

.category-circle-small {
  height: $small;
  width: $small;
}

.category-circle-medium {
  height: $medium;
  width: $medium;
}

.category-circle-large {
  height: $large;
  width: $large;
}

.category-content {
  left: 50%;
  white-space: nowrap;
}

.category-content-top {
  @include translate3d(-50%, -30px, 0);
}

.category-content-bottom {
  @include translate3d(-50%, 0px, 0);
}

.category-list-item {
  cursor: pointer;
}

@each $category in $categories {
  $id: nth($category, 1);
  $color: nth($category, 2);

  .category-#{$id} {

    &.category-circle {
      background: #{$color};
    }

    &.category-list-item {

      .fa-circle {
        color: #{$color};
      }
    }

    &.category-page {

      .category-title {
        border-bottom: 2px solid #{$color};
      }
    }
  }

  .category-body-#{$id} {

    .category-page-main {
      background: #{$color};
    }

    .category-#{$id} {
      z-index: 2;

      &.category-circle {
        background: white;
      }

      .category-content {
        opacity: 1;
      }

      .category-content-top {
        @include translate3d(-50%, -40px, 0);
      }

      .category-content-bottom {
        @include translate3d(-50%, 10px, 0);
      }

      &.category-list-item {
        font-weight: bold;
      }
    }
  }
}
