@import "compass/css3/transition";

// Category Circle Sizes
$small: 30px;
$medium: $small + 15;
$large: $medium + 15;

$categories: (
   "1" "#835F6F" // Adultos Mayores
,	"12" "#7583A1" // Discapacidad
,	"13" "#F7783F" // Educación
,	"14" "#BF6B84" // Estado Civil
,	 "5" "#F0BFE3" // Maternidad
,	"16" "#02BFF1" // Niñez y Adolescencia
,	 "7" "#4AD6B6" // Salud
,	"18" "#E52F5A" // Salud Sexual
,	"19" "#F3C135" // Seguridad
,	"10" "#BE5452" // Trabajo
,	"11" "#BEC8C4" // Tributos
);

body {
  @include single-transition(background, .5s, ease-out);
}

.category-circle {
  border-radius: 50%;
  cursor: pointer;
}

.category-circle-small {
  height: $small;
  width: $small;
}

.category-circle-medium {
  height: $medium;
  width: $medium;
}

.category-circle-large {
  height: $large;
  width: $large;
}

.category-list-item {
  cursor: pointer;
}

@each $category in $categories {
  $id: nth($category, 1);
  $color: nth($category, 2);

  .category-#{$id} {

    &.category-circle {
      background: #{$color};
    }

    &.category-list-item {

      .fa-circle {
        color: #{$color};
      }
    }

    &.category-page {

      .category-title {
        border-bottom: 2px solid #{$color};
      }
    }
  }

  .category-body-#{$id} {
    background: #{$color};

    .category-#{$id} {

      &.category-list-item {
        font-weight: bold;
      }

      &.category-circle {
        background: white;
      }
    }
  }
}
