$red: #900;
$brown: #321f16;
$green: #009D90;
$pink: #EDD8D3;

.char-arm-pink {
  fill: $pink;
}

.char-arm-brown {
  fill: $brown;
}

.char-shirt-green {
  fill: $green;
}

.char-shirt-purple {
  fill: $purple;
}

.character > svg {
  @extend .center-block;
}

.character-control {

  > * {
    display: none;
  }

  input:checked {

    & ~ * {
      display: block;
    }
  }
}

.character-control-nav {
  cursor: pointer;
}
