$piel-b: #9D6E63;
$piel-w: #EEC1B5;

.fill-piel-b {
  fill: $piel-b;
}

.fill-piel-w {
  fill: $piel-w;
}

.fill-remera-verde {
  fill: #066938;
}

.fill-remera-roja {
  fill: #A94817;
}

.fill-remera-blanca {
  fill: #ddd;
}

.fill-jean-b {
  fill: #142F4C;
}

.character-limb {
  display: block;

  > svg {
    display: block;
    margin: 0 auto;
  }
}

.character-control {

  > * {
    display: none;
  }

  input:checked {

    & ~ * {
      display: inherit;
    }
  }
}

.character-control-nav {
  cursor: pointer;
}

.character {
  margin-bottom: 90px;
  position: relative;
  z-index: 1;
}

.body-part {
  position: relative;
}

.body-part-cabeza {
  margin-left: -2px;
  z-index: 3;
}

.character-limb-cabeza {
  margin: 0 35px;
}

.body-part-cuerpo {
  margin-top: -28px;
  z-index: 2;
}

.body-part-piernas {
  margin-top: -22px;
  z-index: 1;
}
