.hair-1 {
  fill: #cc3b17;
}

.hair-2 {
  fill: #422918;
}

.skin-1 {
  fill: #eec1b5;
}

.skin-2 {
  fill: #9d6e63;
}

.eyes-1 {
  fill: #060809;
}

.nose-1 {
  fill: #dcaa9d;
}

.nose-2 {
  fill: #875047;
}

.white-1 {
  fill: #ffffff;
}

.character-limb-cabeza {

  > svg {
    height: 100px;
    width: 120px;
  }
}

.character-control {

  > * {
    display: none;
  }

  input:checked {

    & ~ * {
      display: inherit;
    }
  }
}

.character-control-nav {
  cursor: pointer;
}
