.circle {
	border-radius: 50%;
	padding: 5px;
	text-align: center;
}

.circle-sm {
	height: 40px;
	width: 40px;
}

.circle-md {
	height: 160px;
	width: 160px;
}

.circle-lg {
	height: 240px;
	width: 240px;
}

.circle-bd {
	border: 1px solid white;
	@include single-transition(background-color, .25s, ease-in);

	&:hover {
		border-color: transparent;
		color: $link-color;
		text-decoration: none;
	}
}