.circle {
	border-radius: 50%;
	padding: 5px;
	text-align: center;
}

.circle-bd {
	border: 1px solid white;
}

.circle-sm {
	height: 50px;
	width: 50px;
}

.circle-md {
	height: 150px;
	width: 150px;
}

.circle-lg {
	height: 250px;
	width: 250px;
}