@import "compass/css3/transition";
@import "compass/css3/transform";

.clock {
	position: relative;

	.circle {
		font-size: $font-size-base * 1.25;
		cursor: pointer;
		padding: 0;
		position: absolute;

		left: 250px;
		@include single-transition(transform, .25s, ease-out);

		&:hover {
			color: $link-color;
			text-decoration: none;
			@include scale(.8);
		}
	}
}