@import "compass/css3/transform";

.clock {
    margin: 0 0 30px -30px;
    text-align: center;

    @include breakpoint("small") {
        height: 250px;
        margin-left: 50%;
        position: absolute;
        @include transform(translateX(-50%) translateZ(0));
        width: 250px;
    }
}

.hour {
    font-size: 4em;
    display: inline-block;
    margin-left: 30px;

    @include breakpoint("small") {
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
    }
}

$sizes: (
    75px "sm"
,   100px "md"
,   150px "lg"
);

@each $size in $sizes {
    $value: nth($size, 1);
    $name: nth($size, 2);

    .hour-#{$name} {
        height: $value;
        width: $value;

        @include breakpoint("small") {
            margin: $value / -2;
        }
    }
}

// Position in a circle
$elementsCount: 12;
$angle: 360deg / $elementsCount;

@include breakpoint("small") {
    @for $i from 0 through $elementsCount - 1 {
        .hour#{$i} {
            $rotation: $i * $angle - 90deg;
            @include transform(rotate($rotation) translateX(200px) translateZ(0));

            > * {
                @include transform(rotate(-$rotation));
            }
        }
    }
}