@import "compass/css3/transition";
@import "compass/css3/transform";

$slices: 12;
$rotation: 0;
$cut: 360deg / $slices;

.clock {
  position: relative;
  z-index: 2;
}

.hour {
  left: 50%;
  margin-left: -15px;
  position: absolute;
  top: 120px;
  z-index: 1;

  &:hover {
    z-index: 2;
  }

  @for $i from 0 through ($slices - 1) {
    $rotation: ($i * $cut) - 90;
    &.h-#{$i} {
      @include transform(rotate($rotation) translate3d(180px, 0, 0));

      > span {
        display: block;
        @include transform(rotate(-$rotation));
      }
    }
  }
}
