@import "compass/css3/transition";

.collapsable {
	overflow-y: hidden;
	max-height: 190px;

	@include single-transition(max-height, .5s, cubic-bezier(0, 1, 0.5, 1));

	@include breakpoint("xsmall") {
		max-height: 165px;
	}

	@include breakpoint("small") {
		max-height: 125px;
	}

	@include breakpoint("medium") {
		max-height: 110px;
	}

	@include breakpoint("large") {
		max-height: 90px;
	}
}

.collapsed {
	max-height: 0;
	padding: 0;
}