@import "compass/css3/transition";

.link {
	border-bottom: 1px solid $link-color;
	padding-bottom: $padding-small-vertical;

	&:hover {
		border-bottom: none;
		text-decoration: none;
	}
}

.link-circle {
	border: 1px solid white;
	border-radius: 50%;
	@include single-transition(background-color, .25s, ease-in);
	height: 40px;
	width: 40px;

	&:hover {
		border-color: transparent;
		color: $link-color;
		text-decoration: none;
	}
}

.link-facebook {
	&:hover {
		background-color: $brand-facebook;
	}
}

.link-twitter {
	&:hover {
		background-color: $brand-twitter;
	}
}

.link-close {
	&:hover {
		background-color: $brand-primary;
	}
}
