<li class="u-marginBs category-<%= categoryListItem.id %> category-list-item js-category-item" data-id="<%= categoryListItem.id %>">
  <i class="fa fa-circle"></i> <%= categoryListItem.title %> (<%= categoryListItem.leyes.length %>)
</li>
