<li class="u-marginVl u-paddingVm">
  <p class="u-marginBm">Promulgada &mdash; <time><%= categoryLaw.fecha %></time></p>
  <p class="lead u-marginBm"><%= categoryLaw.description %></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec enim lobortis, interdum nisi vel, feugiat metus. Suspendisse convallis, nisl sed sagittis aliquam, purus mi mollis felis, nec molestie ligula mi et felis. Vivamus purus ante, cursus in posuere at, bibendum eu tortor. Integer ut libero metus. Curabitur auctor mauris lorem. Sed nec nulla non nibh varius ultricies. Sed vitae felis sit amet tortor suscipit eleifend ut auctor purus. Vivamus interdum enim non libero faucibus, eget fringilla mi porttitor. Sed gravida ligula vel nunc malesuada rhoncus. In dignissim placerat quam nec ornare. Suspendisse varius dui et rhoncus pulvinar. Donec a enim massa. Mauris non facilisis orci. Sed varius sapien sed nunc suscipit hendrerit. Ut suscipit lacus justo, id scelerisque nulla elementum non. Sed eget pharetra magna, ut viverra sapien.</p>
</li>
