<div class="u-posAbsolute u-paddingAl" style="right: 0; top: 0;">
  <a class="icon-link u-block display-container" href="/ingresar">
    <svg class="center-block u-marginBm" version="1.1" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 80 80" enable-background="new 0 0 80 80">
      <path d="M58.2 57.025c0-2.204-1.765-3.988-3.958-4.034v-26.84c0-6.056-4.758-10.966-10.625-10.966H17.417 c-5.869 0-10.625 4.91-10.625 10.966v26.908c-0.245-0.046-0.497-0.075-0.756-0.075c-2.233 0-4.042 1.809-4.042 4 c0 2.2 1.8 4 4 4.043c0.259 0 0.511-0.03 0.756-0.076v1.189c0 5.9 7.4 10.7 13.1 10.9 c1.158 1.4 0 7.1 0 7.138h20.403V73.13c5.723-0.172 13.974-5.001 13.974-10.949v-1.123C56.436 61 58.2 59.2 58.2 57.025z " class="alt-body"/>
      <circle cx="21.4" cy="47.6" r="1.9" class="alt-body"/>
      <circle cx="38.8" cy="47.6" r="1.9" class="alt-body"/>
      <path d="M30.098 64.398c2.655 0 4.809-2.154 4.809-4.81h-9.618C25.289 62.2 27.4 64.4 30.1 64.398z" class="alt-body"/>
      <path d="M43.466 42.144c-0.48-0.88-1.115-1.441-1.887-1.666c-1.306-0.382-2.598 0.318-2.61 0.325l-0.302-0.543 c0.062-0.034 1.522-0.832 3.081-0.38c0.938 0.3 1.7 0.9 2.3 1.967L43.466 42.144z" class="alt-body"/>
      <path d="M17.812 43.041l-0.55-0.289c0.033-0.062 0.819-1.53 2.37-2.004c0.934-0.287 1.933-0.149 3 0.4 l-0.294 0.547c-0.885-0.475-1.725-0.596-2.496-0.361C18.509 41.7 17.8 43 17.8 43.041z" class="alt-body"/>
      <path d="M62.625 2.015C53.443 2 46 9.5 46 18.64s7.443 16.6 16.6 16.625S79.25 27.8 79.2 18.6 S71.806 2 62.6 2.015z M70.515 19.917h-6.614v6.614c0 0.705-0.571 1.276-1.276 1.276s-1.276-0.571-1.276-1.276v-6.614h-6.614 c-0.705 0-1.276-0.571-1.276-1.276s0.571-1.276 1.276-1.276h6.614V10.75c0-0.705 0.571-1.276 1.276-1.276s1.276 0.6 1.3 1.3 v6.614h6.614c0.705 0 1.3 0.6 1.3 1.276S71.22 19.9 70.5 19.917z" class="alt-body"/>
    </svg>

    <span class="display-content display-content-bottom">Conocé tú legado</span>
  </a>
</div>
