<article class="u-marginVl u-paddingVm">
  <p class="u-marginBm">Promulgada &mdash; <time><%= law.fecha %></time></p>
  <h1 class="h3 u-marginVm"><%= law.title %></h1>
  <% for (var article in law.articles) { %>
  <p><%= law.articles[article] %></p>
  <% } %>
</article>
